
/* Estilo de cabeçalho */

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .menu ul {
    display: flex;
    gap: 20px;
  }
  
  .menu a {
    color: #000;
    font-weight: 500;
  }
  
  .menu img{
    width: 75px;
    height: 75px;
  }
  
  .titulo{
    height: 120px;
    background-color: #8B0000;
    color: #DFC571;
    display: flex;
    align-items: center;
    padding-left: 100px;
  }
  
  
  /* Fim estilo cabeçalho */
  