
.img {
  background-image: url(../assets_reginaldo/bovina.jpeg);
  height: 150px;
  width: 230px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 10px;
}

#produtos {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

#produtos div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#produtos div[data-cod]{
  margin-bottom: 50px;
}

div.ativo [data-button="add"] {
  display: none !important;
}

div.ativo .btn-number {
  display: block !important;
}

.container h3,
.container p {
  text-align: center;
  margin-top: 5px;
}

.container h3{
  font-size: 0.9rem;
}

.preco {
  display: inline-block;
}

[data-button="add"] {
  padding: 2px 7px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10px;
}

.btn-number {
  margin-top: 10px;
  display: none !important;
}

.btn-number input {
  text-align: center;
  /* font-weight: bold; */
  width: 40px;
  border: 1px solid #000;
  border-radius: 4px;
}

.btn-number button {
  padding: 0px 3px 0px 3px;
}

.titulo-produto{
  font-weight: bold;
  color: #201E1F;
  background-color: #EEDC8A;
  padding-left: 120px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

/* Formulário de orçamento */

#formulario {
  margin-top: 50px;
  max-width: 550px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr;
  margin-right: auto;
  margin-left: auto;
}

.titulo-form {
  color: #8b0000;
  margin-bottom: 40px;
  width: 60%;
  text-align: center;
  justify-self: center;
}

#formulario > label {
  display: block;
  /* font-weight: bold; */
  font-size: 1.15rem;
  margin-bottom: 5px;
}

#formulario > input {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  background-color: #d9d9d9;
  outline: none;
  border: none;
}

.entrega {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.entrega label {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}

.entrega input {
  margin-right: 10px;
  margin-left: 5px;
}

.informa-retirada {
  display: none;
  align-items: center;
  gap: 10px;
}

.informa-retirada img {
  width: 20px;
  margin-top: 5px;
}

.informa-retirada.ativo{
  display: flex;
}

.produtos-selecionados {
  max-width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.produtos-selecionados div,
.produtos-selecionados h2 {
  margin-bottom: 10px;
}

#formulario > button {
  background-color: #8b0000;
  color: #dfc571;
  justify-self: center;
  padding: 10px 22px;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  outline: none;
}



input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 950px) {
  #produtos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  #produtos {
    grid-template-columns: 1fr;
  }
}
